figures/
results/
*.out

*/*/__pycache__/*
*/*/*/__pycache__/*
*/*/*/*/__pycache__/*
*/*/*/*/*/__pycache__/*

.DS_Store
test.gif
test.Rds
dependencies/qvemod/corona_model/__pycache__/__init__.cpython-313.pyc
